.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 90%; */
  margin: 0, auto;
}

.search {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
